@model Shelter.Shared.Animal

<p>
Are you sure you want to delete <em>@Model.Name</em> ?
</p>


  <a asp-controller="Shelter" asp-action="Index"><button type="button" class="btn btn-success">Back</button></a>
  <a asp-controller="Shelter" asp-action="DoDelete"><button type="button" class="btn btn-danger">Delete</button></a>
  

