@model Shelter.Shared.Shelter

<table>
  <tr>
    <th>id</th>
    <th>Name</th>

  </tr>
  @foreach (var item in Model.Animals)
  {
    <tr>
      <td>@item.Id</td>
      <td><a asp-controller="Shelter" asp-action="Detail" asp-route-id=@item.Id>@item.Name</a></td>
      <td><button>Delete</button>
    </tr>
  }


  </table>
