@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model Shelter.Shared.Shelter

<table>
  <tr>
    <th>Name</th>
    <th>Type Name</th>
  </tr>
  @foreach (var item in Model.Beers)
  {
    <tr>
      <td><a asp-controller="Beer" asp-action="Detail" asp-route-id=@item.Id>@item.Animal.Name</a></td>
      <td>@item.BeerType.Name</td>
      <td><a asp-controller="Beer" asp-action="Delete" asp-route-id=@item.Id>Delete</a></td>

    </tr>
  }
</table>