@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model Shelter.Shared.Shelters

<table>
  <tr>
    <th>Name</th>
    <th>Type Name</th>
  </tr>
  
</table>
