@model Shelter.Shared.Animal
<p>
Are you sure you want to delete <em>@Model.Name</em> ?
</p>
<form asp-controller="Animal" asp-action="DoDelete" method="POST">
  <input asp-for="Id" type="hidden">
  <a asp-controller="Animal" asp-action="Index"><button type="button" class="btn btn-success">Back</button></a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>