@model Shelter.Shared.Animal
<form asp-controller="Animal" asp-action="DoEdit" method="POST">
  <input asp-for="Id" type="hidden">
  <p style="font-weight: bold">Name:</p>
  <input asp-for="Name">
  <button type="submit" class="btn btn-danger">Update</button>
  <a asp-controller="Animal" asp-action="Index"><button type="button" class="btn btn-success">Back</button></a>
</form>