@model Shelter.Shared.Shelter

<table>
  <tr>
    <th>Name</th>

  </tr>
  @foreach (var item in Model.Animals)
  {
    <tr>
      <td><a asp-controller="Animal" asp-action="Detail" asp-route-id=@item.Id>@item.Name</a></td>
      <td><a asp-controller="Animal" asp-action="Delete" asp-route-id=@item.Id><button type="button" class="btn btn-danger">Delete</button></a></td>
      <td><a asp-controller="Animal" asp-action="Edit" asp-route-id=@item.Id>Edit</a></td>
    </tr>
  }


  </table>
